project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.ttu.ee/idu0075/143076/MediaService/1.0"
    targetNamespace="http://www.ttu.ee/idu0075/143076/MediaService/1.0"
    elementFormDefault="qualified">

    <!-- Types used in operations -->
    <xs:simpleType name="TokenType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9]{8,16}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TypeOfMediaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="book" />
            <xs:enumeration value="movie" />
            <xs:enumeration value="music" />
            <xs:enumeration value="tv-series" />
            <xs:enumeration value="other" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RatingType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="1" />
            <xs:minInclusive value="0.0" />
            <xs:maxInclusive value="100.0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="GenreShortType">
        <xs:choice>
            <xs:element name="id" type="xs:integer" />
            <xs:element name="name" type="xs:string" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="GenreType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="genreId" type="xs:integer" />
            <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="createdAt" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="MediaType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="mediaId" type="xs:integer" />
            <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="genres">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="5" name="genre" type="tns:GenreShortType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="aggregateRating" type="tns:RatingType" />
            <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="type" type="tns:TypeOfMediaType" use="required" />
    </xs:complexType>

    <!-- Genre operations' elements -->
    <xs:element name="getGenreByIdOrNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="genre" type="tns:GenreShortType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getGenreByIdOrNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="genre" type="tns:GenreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addNewGenreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="clientId" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addNewGenreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="clientId" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="genre" type="tns:GenreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="editGenreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="clientId" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="genre" type="tns:GenreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="editGenreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="clientId" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="genre" type="tns:GenreType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllGenresRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="tns:TokenType" />
                <xs:element minOccurs="0" maxOccurs="1" name="filters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="createdBefore" type="xs:dateTime" />
                            <xs:element minOccurs="0" maxOccurs="1" name="createdAfter" type="xs:dateTime" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAllGenresResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="genres">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="genre" type="tns:GenreType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Media operations' elements -->
    <xs:element name="getMediaByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="mediaId" type="xs:integer" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMediaByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="media" type="tns:MediaType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addNewMediaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="clientId" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="type" type="tns:TypeOfMediaType" />
                <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
                <xs:element minOccurs="1" maxOccurs="1" name="genres">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="5" name="genre" type="tns:GenreShortType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addNewMediaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="clientId" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="media" type="tns:MediaType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addMediaRatingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="clientId" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="mediaId" type="xs:integer" />
                <xs:element minOccurs="1" maxOccurs="1" name="rating" type="tns:RatingType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addMediaRatingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="clientId" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="media" type="tns:MediaType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="editMediaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="clientId" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="media" type="tns:MediaType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="editMediaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="clientId" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="media" type="tns:MediaType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMediaByGenreRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="tns:TokenType" />
                <xs:element minOccurs="1" maxOccurs="1" name="genre" type="tns:GenreShortType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getMediaByGenreResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="media">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="media" type="tns:MediaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllMediaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="API_TOKEN" type="tns:TokenType" />
                <xs:element minOccurs="0" maxOccurs="1" name="filters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="type" type="tns:TypeOfMediaType" />
                            <xs:element minOccurs="0" maxOccurs="1" name="keywords" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="genres">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="1" maxOccurs="unbounded" name="genre" type="tns:GenreShortType" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="ratingLessThan" type="tns:RatingType" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ratingMoreThan" type="tns:RatingType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAllMediaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="media">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="media" type="tns:MediaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
